/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
@tailwind components;

/**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

/**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
@tailwind utilities;

/**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

@import "variables";

* {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    height: 100%;
}

.transition-all {
    transition: all 0.25s;
}

.bg-red-gradient {
    background-image: linear-gradient(to bottom right, #e52d27, #b31217);
}

.bg-blue-gradient {
    background-image: linear-gradient(to bottom right, #4481eb, #04befe);
}

.bg-green-gradient {
    background-image: linear-gradient( 179.1deg,  rgba(43,170,96,1) 2.3%, rgba(129,204,104,1) 98.3% );
}

.bg-grey-gradient {
    background-image: linear-gradient(to bottom right, #868f96, #596164);
}

.bg-grey-translucent {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-white-translucent {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-red-translucent {
    background-image: linear-gradient(
            to bottom right,
            rgba(255, 15, 0, 1),
            rgba(255, 15, 0, 0.25)
        ),
        url("/images/hero-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.border-red {
    border-color: #ff0f00;
    color: #ff0f00;
}

.mb-px {
    margin-bottom: 2px;
}

.h-18 {
    height: 4.5rem;
}

.w-18 {
    width: 4.5rem;
}

.border-r-3 {
    border-right-width: 3px;
}

.min-h-500 {
    min-height: 700px;
}

.max-h-700 {
    max-height: 700px;
}

.h-54vw {
    height: 54vw;
}

.text-12xl {
    font-size: 5rem;
}

.pin-out-top {
    top: -60px;
}

.card-hover {
    transition: transform 0.15s;

    &:hover {
        transform: translateY(-5px);
    }
}

a {
    text-decoration: none;
}

.list-style-check {
    list-style-image: url("/images/green-checkmark.svg");
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
    transition: all 0.25s;
}
.slide-enter,
.slide-leave-to {
    right: -300px;
    opacity: 0;
}

.hero {
    background: #ff0f00;
    height: 54vw;
    width: 100%;
}

.description-pill {
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.router-link-exact-active {
    color: #ff0f00;
    font-weight: light;
    padding-bottom: 1rem;
    border-bottom: 4px solid #ff0f00;
}

.router-link-active {
    color: #ff0f00;
    font-weight: light;
    padding-bottom: 1rem;
    border-bottom: 4px solid #ff0f00;
}

.router-link-active-alt {
    color: #4a4a4a;
    font-weight: bold;
    border-bottom: none;
}

.router-link-active-drawer {
    color: #4a4a4a;
    font-weight: normal;
    border-bottom: none;
    margin-bottom: none;
    padding-bottom: 0.5rem;
}

.popover-active-exact {
    color: white;
    font-weight: bold;
    border-bottom: none;
    margin-bottom: 1rem;
}

.hero-title {
    @media (min-width: 768px) {
        font-size: 5rem;
    }
}

.phone-image-container {
    height: 360px;
    overflow: hidden;

    @media (min-width: 768px) {
        height: auto;
    }
}

.phone-image {
    height: 600px;
    background-image: url("/images/phone-img.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 320px;
    margin: 0 auto;
}

/*-----------------------------------*/
// CHECKBOX ///////////////////////////
/*-----------------------------------*/

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    color: #4a4a4a;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked ~ .checkbox-checkmark:after {
            display: block;
        }
    }

    &:hover input ~ .checkbox-checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkbox-checkmark {
        background-color: #2196f3;
    }

    .checkbox-checkmark:after {
        left: 8px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: #eee;

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

/*-----------------------------------*/
// LOADER /////////////////////////////
/*-----------------------------------*/

@keyframes scaleAnimation {
    0% {
        opacity: 0;
        transform: scale(1.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes drawCircle {
    0% {
        stroke-dashoffset: $circle-length;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes drawCheck {
    0% {
        stroke-dashoffset: $check-length;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#successAnimationCircle {
    stroke-dasharray: $circle-length $circle-length;
    stroke: #fff;
}

#successAnimationCheck {
    stroke-dasharray: $check-length $check-length;
    stroke: #fff;
}

#successAnimationResult {
    fill: #fff;
    opacity: 0;
}

#successAnimation.animated {
    animation: 1s ease-out 0s 1 both scaleAnimation;

    #successAnimationCircle {
        animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCircle,
            0.3s linear 0.9s 1 both fadeOut;
    }

    #successAnimationCheck {
        animation: 1s cubic-bezier(0.77, 0, 0.175, 1) 0s 1 both drawCheck,
            0.3s linear 0.9s 1 both fadeOut;
    }

    #successAnimationResult {
        animation: 0.3s linear 0.9s both fadeIn;
    }
}
